header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}	
header * {
    display: inline;
}
header li {
    margin: 20px;
}
h1  {
	color : #ffdb58;
	text-indent: 75px;
    font-size: 300%;
    font-family: 'Eczar', serif;
}
h2 {
	color :white;
	text-indent: 75px;
    font-family: 'Inknut Antiqua', serif;
}
i {
	background: black;
	color :white;
}
ul{
    position: left
}
body {
   
  	background-image: url("blacksoundwave.gif");
    background-repeat: no-repeat;
	background-size: contain;
	margin-top: 40px;
    padding: 20px;
}
.container{
    width: 1200px;
    min-height: 500px;
    background: #fff   
    margin: 70px auto:0;
}
img {
    height: 250px;
    width: 250px;
    margin: 70px;
}

p{
    color : #ffdb58;
    text-indent: 75px;
    font-family: 'Eczar', serif;
    size: 275%
}




