header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}	

header * {
    display: inline;
}

header li {
    margin: 20px;
}


h1  {
	color : #ffdb58;
	text-indent: 75px;
}
h2 {
	color :white;
	text-indent: 75px;
}
i {
	background: black;
	color :white;


}
body {
    height: 125vh;
  	background-image: url("blacksoundwave.gif");
	background-size: cover;
	margin-top: 80px;
        padding: 30px;
}
